spring.application.name=java-project
server.port=8080
#Spring virtual thread
spring.threads.virtual.enabled=true
#swagger configuration
#sort by path (URL)
springdoc.swagger-ui.operationsSorter: alpha 
#database configuration
spring.datasource.url=${SPRING_DATASOURCE_URL:jdbc:mariadb://localhost:3306/school}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME:root}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD:}
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
#use mysql dialect for mariadb, because mariadb is compatible with mysql. If using mariadb dialect, it will cause error when running the app because of the version mismatch between hibernate and mariadb. (hibernate 5.6.15.Final is compatible with mysql 8.0, but not compatible with mariadb 10.5)
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
#auditing configuration (spring.jpa.hibernate.ddl-auto is a global setting. jpa scanning everytime app start. if table/column not exist, will created automatically)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.org.hibernate.envers.audit_table_prefix=log_
spring.jpa.properties.org.hibernate.envers.audit_table_suffix=_audit
#mybatis configuration (location of XML mapper files + map snake_case columns to camelCase)
#using classpath*: and **/*.xml to include generated XML files in mapper/generated/ folder
mybatis.mapper-locations=classpath*:mapper/**/*.xml
mybatis.configuration.map-underscore-to-camel-case=true
#Spring Actuator configuration
management.endpoints.web.exposure.include=*
management.endpoint.health.show-details=always
#redis configuration
spring.data.redis.host=${SPRING_DATA_REDIS_HOST:localhost}
spring.data.redis.port=${SPRING_DATA_REDIS_PORT:6379}
spring.data.redis.password=
#rabbitmq configuration
spring.rabbitmq.host=${SPRING_RABBITMQ_HOST:localhost}
spring.rabbitmq.port=${SPRING_RABBITMQ_PORT:5672}
spring.rabbitmq.username=${SPRING_RABBITMQ_USERNAME:guest}
spring.rabbitmq.password=${SPRING_RABBITMQ_PASSWORD:guest}
# Email service configuration
spring.mail.host=sandbox.smtp.mailtrap.io
spring.mail.port=2525
spring.mail.username=8b67b93210c526
spring.mail.password=ecf70ba60f5b66
spring.mail.protocol=smtp
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.mail.properties.mail.debug=true
app.email.sender=noreply@donnyk22.carrd.co
#logging configuration
logging.level.root=INFO
#enable ANSI color in console logs for better readability
spring.output.ansi.enabled=always
#jwt configuration
app.jwt.ttl-minutes=30
app.jwt.mfa.ttl-minutes=5
app.jwt.secret=f8fcfc38ab9c10581f67b1622cd4486c
#max active session
app.session.max=5
#login and signup limiting action
app.login.max-req=10
app.login.max-req-minutes=10
app.register.max-req=10
app.register.max-req-hours=24
#API caching configuration
app.cache.ttl-minutes=10
#rate limiting configuration
app.ratelimit.max-req=50
app.ratelimit.max-req-minutes=1
#async worker and queue configuration
app.async.max-worker=10
app.async.max-queue=100
#file upload configuration
upload.profile-pic.path=${UPLOAD_PATH:uploads/profilepic}
upload.profile-pic.max-size=5MB
#OAuth2 credentials (google scope is for information we will get from google)
spring.security.oauth2.client.registration.google.client-id=YOUR_CLIENT_ID_HERE
spring.security.oauth2.client.registration.google.client-secret=YOUR_CLIENT_SECRET_HERE
spring.security.oauth2.client.registration.google.scope=email,profile
